---
layout: layout.liquid
---

<strong>Your new passphrase is:</strong>

<div class="phrase-container">
  {% for word in phrase %}
    <div class="word">{{ word | escape }}</div>
  {% endfor %}
</div>